*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top
{
 background-color: grey;
 height: auto;
 padding-top: 10px;
 padding-bottom: 10px;

}

.top-square
{
    height: 90px;
    width: 90px;
    background-color: blue;
    margin-left: 20px;
}
.content
{
    background-color: white;
    padding: 104px;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
}

.bar
{
    height: 150px;
}

.bar-blue
{
    background-color: blue;
}

.bar-green
{
    background-color: green;
}

.bar-lemon
{
    background-color: lime;
}
.bar-yellow
{
    background-color: yellow;
}